$dark-1:    #0A0C10;
$dark-2:    #14181F;
$dark-3:    #272A31;

$red-1:    #B31317;
$red-2:    #EA1D22;
$red-3:    #F02A2F;

$white-1:    #E5E9EF;
$white-2:    #EDF1F7;
$white-3:    #F4F7FB;

$gray-1:    #959698;
$gray-2:    #A1A3A5;
$gray-3:    #B5B6B8;